<div class="sg-colors">
    <div class="sg-color">
        <div class="sg-color__chip bg-{{modifier}}"></div>
        <div class="sg-color__info">
            <span><strong>SCSS:</strong> ${{modifier}}</span>
        </div>
    </div>
</div>
