@use "sass:map";

$table-cell-padding: rem(2px) rem(4px) !default;
$table-border-color: material-color('grey', '500') !default;
$table-border-thickness: rem(1) !default;
$table-stripped-row-odd-bg: material-color('grey', '300') !default;
$table-stripped-row-even-bg: material-color('grey', '400') !default;
$table-hoverable-row-bg: material-color('grey', '100') !default;

.table {
    $this: &;

    font-size: map.get($font, size-base);
    width: 100%;
    max-width: 100%;
    text-align: left;
    border-collapse: collapse;

    &__caption {
        font-size: map.get($font, size-md);
        text-align: left;
    }
    
    &__head {}
    
    &__body {}
    
    &__foot {}
    
    &__row {}
    
    &__heading {
        padding: $table-cell-padding;
    }
    
    &__cell {
        padding: $table-cell-padding;
    }

    &--bordered {
        border: $table-border-thickness solid $table-border-color;
        td, th {
            border: $table-border-thickness solid $table-border-color;
        }
    }

    &--stripped {
        tbody {
            tr {
                &:nth-of-type(odd) {
                    background-color: $table-stripped-row-odd-bg;
                }
                &:nth-of-type(even) {
                    background-color: $table-stripped-row-even-bg;
                }
            }
        }
    }

    &--hoverable {
        tbody {
            tr {
                background-color: transparent;
                &:hover {
                    background-color: $table-hoverable-row-bg;
                }
            }
        }
    }
}
