<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Preview Layout</title>
        
        {# STYLES #}
        <link rel="preconnect" href="//fonts.googleapis.com">
        <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
        <link href="//fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+BE+VLG:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link media="all" href="{{'/css/styleguide.css'|path}}" rel="stylesheet">
        <link media="all" href="{{'/css/styles.css'|path}}" rel="stylesheet">
    </head>
    <body>
        {% render '@site-header--authenticated' %}
        <main>{{yield|safe}}</main>
        {% render '@site-footer--authenticated' %}
        {# SCRIPTS #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        {# <script src="{{'/js/styleguide.js'|path}}"></script> #}
        <script src="{{'/js/scripts.js'|path}}"></script>
    </body>
</html>
