<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Preview Layout</title>
        {{!-- SCRIPT --}}
        <script src="//cdn.jsdelivr.net/npm/@mdi/font@7.4.47/scripts/verify.min.js"></script>
        {{!-- STYLES --}}
        <link href="//cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css" rel="stylesheet">
        <link media="all" rel="stylesheet" href="{{ path '/css/styles.css' }}">
    </head>
    <body>
        <main>
            {{{ yield }}}
        </main>
    </body>
</html>
