.avatar {
    $this: &;
    border: rem(2px) solid material-color('grey', '100');
    background-color: material-color('grey', '100');
    border-radius: 50%;
    display: block;
    margin: 0;
    padding: 0;
    max-width: rem(32);
    max-height: rem(32);

    &--64x64 {
        max-width: rem(64);
        max-height: rem(64);
    }

    &--32x32 {
        max-width: rem(32);
        max-height: rem(32);
    }
}