@use "sass:map";

$btn-padding: rem(8) rem(12) !default;
$btn-border-radius: rem(6) !default;
$btn-border-thickness: rem(1) !default;

%btn {
    appearance: none;
    background-color: transparent;
    border: $btn-border-thickness solid transparent;
    border-radius: $btn-border-radius;
    color: $color-primary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: map.get($font, size-base);
    gap: rem(8);
    line-height: 1;
    overflow: hidden;
    text-decoration: none;
}


.btn {
    $this: &;

    @extend %btn;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &--primary,
    &--secondary,
    &--success,
    &--warning,
    &--danger,
    &--info {
        padding: $btn-padding;
        position: relative;
        text-decoration: none;
        z-index: 0;

        &:before {
            background-color: rgba($color-white, 0.1);
            content: '';
            width: 0%;
            height: 100%;
            position: absolute;
            transition: width 200ms linear;
            z-index: 0;
        }

        &:hover,
        &:focus {
            text-decoration: none;
            &:before {
                width: 100%;
            }
        }
    }

    &--primary {
        background-color: $color-primary;
        color: contrast-color($color-primary, $color-text);
    }

    &--secondary {
        background-color: $color-secondary;
        color: contrast-color($color-secondary, $color-text);
    }

    &--success {
        background-color: $color-success;
        color: contrast-color($color-success, $color-text);
    }

    &--warning {
        background-color: $color-warning;
        color: contrast-color($color-warning, $color-text);
    }

    &--danger {
        background-color: $color-danger;
        color: contrast-color($color-danger, $color-text);
    }

    &--info {
        background-color: $color-info;
        color: contrast-color($color-info, $color-text);
    }

    &--icon {
        border-radius: 50%;
        min-width: rem(48);
        min-height: rem(48);
    }
}
