<header class="site-header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">
                {% render '@logo--icon' %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if not user %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Learn More
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Gameplay</a></li>
                            <li><a class="dropdown-item" href="#">Joining an Event</a></li>
                            <li><a class="dropdown-item" href="#">Hosting an Event</a></li>
                            <li><a class="dropdown-item" href="#">Staffing an Event</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">About Us</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-inline-flex lead mx-5 text-muted">
                    {% render '@icon', { 'icon': 'map-marker-star' }, true %}
                    <span>Denver, CO</span>
                </div>
                {% for button in buttons %}
                <span class="ms-1"></span>
                {% render '@button', button, true %}
                {% endfor %}
                {% else %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">League</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                    </li>
                </ul>
                <div class="d-inline-flex lead mx-5 text-muted">
                    {% render '@icon', { 'icon': 'map-marker-star' }, true %}
                    <span>Denver, CO</span>
                </div>
                {% render '@authenticated' %}
                {% endif %}
            </div>
        </div>
    </nav>
</header>
