@use "sass:math";

%column {
    padding-inline: rem(math.div($grid-gutter, 2));
    width: 100%;
}

.col {
    $this: &;

    @extend %column;

    @for $i from 1 through $grid-columns {
        &-#{$i} {
            $width: math.div(100, $grid-columns) * $i;
            max-width: $width * 1%;
            flex: 0 1 $width * 1%;
        }
    }
}