@use "sass:math";

%container {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: em($grid-container);
    height: auto;
    margin-block: 0;
    margin-inline: auto;
    padding-inline: rem(math.div($grid-gutter, 2));
}

.container {
    @extend %container;


    /* Modifiers */
    &--fluid {
        max-width: 100%;
    }

    &--gutterless {
        padding-inline: 0;
    }
}