<div class="container{{#if fluid}} container--fluid{{/if}}">
    Id culpa ipsum excepteur est in. Non ut aliquip laborum id reprehenderit in aliqua. Tempor exercitation esse voluptate voluptate ex eiusmod eiusmod ut anim Lorem fugiat incididunt sit. Reprehenderit culpa esse cillum tempor ad pariatur in eu proident consequat quis quis reprehenderit. Magna fugiat aliqua consequat qui ad aliquip Lorem officia est ut in pariatur voluptate. Ea eiusmod exercitation exercitation do aliqua sit consectetur ea nostrud dolor dolor eiusmod. Quis in cupidatat dolor ullamco.
</div>