<div>container</div>
<div class="container" style="border:1px solid yellow; height: 90px;">
    <div class="row row--align-center" style="border:1px solid purple; height: 60px;">
        <div class="col" style="border:1px solid green; height: 30px;"></div>
        <div class="col" style="border:1px solid green; height: 30px;"></div>
    </div>
</div>

<div>container--gutterless</div>
<div class="container container--gutterless" style="border:1px solid yellow; height: 90px;">
    <div class="row row--align-center" style="border:1px solid purple; height: 60px;">
        <div class="col" style="border:1px solid green; height: 30px;"></div>
        <div class="col" style="border:1px solid green; height: 30px;"></div>
    </div>
</div>

<div>container--fluid</div>
<div class="container container--fluid" style="border:1px solid yellow; height: 90px;">
    <div class="row row--align-center" style="border:1px solid purple; height: 60px;">
        <div class="col" style="border:1px solid green; height: 30px;"></div>
        <div class="col" style="border:1px solid green; height: 30px;"></div>
    </div>
</div>

<div>container--fluid container--gutterless</div>
<div class="container container--fluid container--gutterless" style="border:1px solid yellow; height: 90px;">
    <div class="row row--align-center" style="border:1px solid purple; height: 60px;">
        <div class="col" style="border:1px solid green; height: 30px;"></div>
        <div class="col" style="border:1px solid green; height: 30px;"></div>
    </div>
</div>
