@use "sass:math";

%row {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-inline: rem(math.div($grid-gutter, 2) * -1);
}

.row {
    @extend %row;

    &--align {
        &-center {
            align-items: center;
        }
        &-flex-start {
            align-items: flex-start;
        }
        &-flex-end {
            align-items: flex-end;
        }
        &-stretch {
            align-items: stretch;
        }
    }

    &--justify {
        &-center {
            justify-content: center;
        }
        &-flex-start {
            justify-content: flex-start;
        }
        &-flex-end {
            justify-content: flex-end;
        }
        &-stretch {
            justify-content: stretch;
        }
    }
}