.event-card {
    $this: &;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    &__image {
        flex: 0 0 30%;
        max-width: rem(128);
        margin-right: rem(8);
    }

    &__info {
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
    }

    &__actions {
        margin-top: auto;
    }
}
