@use "sass:map";

$input-color: $color-text !default;
$input-padding: rem(8) rem(12) !default;
$input-border-color: $color-default !default;
$input-border-radius: rem(6) !default;
$input-border-thickness: rem(1) !default;

$input-placeholder-color: material-color('grey', '400') !default;
$input-placeholder-style: italic !default;
$input-placeholder-weight: 400 !default;

%input {
    appearance: none;
    background-color: $color-white;
    border: $input-border-thickness solid $input-border-color;
    border-radius: $input-border-radius;
    color: $input-color;
    display: block;
    font-size: map.get($font, size-base);
    padding: $input-padding;
    width: 100%;
    height: auto;

    &::placeholder {
        color: $input-placeholder-color;
        font-style: $input-placeholder-style;
        font-weight: $input-placeholder-weight;
    }

    &:hover,
    &:focus {
        outline: none;
    }
}

.input {
    $this: &;

    @extend %input;

    &--radio {
        margin: 0;
        padding: 0;
        opacity: 0;
        width: rem(20);
        height: rem(20);

        &:checked ~ #{$this}__radio {
            background-color: material-color('blue', '400');

            &:before {
                content: '\F09DE';
                font-family: map.get($font, family-icon);
            }
        }
    }

    &__radio {
        background-color: material-color('grey', '300');
        border-radius: 50%;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: rem(20);
        height: rem(20);

        &:hover,
        &:focus {
            cursor: pointer;
        }
    }

    &--checkbox {
        margin: 0;
        padding: 0;
        opacity: 0;
        width: rem(20);
        height: rem(20);

        &:checked ~ #{$this}__checkbox {
            background-color: material-color('blue', '400');

            &:before {
                content: '\F0E1E';
                font-family: map.get($font, family-icon);
            }
        }
    }

    &__checkbox {
        background-color: material-color('grey', '300');
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: rem(20);
        height: rem(20);
    }
}