<div class="form-check">
    <input id="{{id}}" type="checkbox" class="form-check-input">
    {% if label %}
    <label for="{{id}}" class="form-check-label">{{label|safe}}</label>
    {% endif %}
</div>
