{% if floating %}
<label for="{{id}}"{% if class %} class="{{class}}"{% endif %}>{{text|safe}}</label>
{% else %}
<label for="{{id}}" class="form-label{% if modifier %} form-label-{{modifier}}{% endif %}{% if class %} {{class}}{% endif %}">{{text|safe}}</label>
{% endif %}
