<form class="p-registration-form">
    <div class="row">
        {{#form}}
        <div class="col col-{{col}}">        
            {{>@form-group}}
        </div>
        {{/form}}
    </div>
</form>