@use "sass:map";

h1 {
    font-size: map.get($font, size-xxxl);
}

h2 {
    font-size: map.get($font, size-xxl);
}

h3 {
    font-size: map.get($font, size-xl);
}

h4 {
    font-size: map.get($font, size-lg);
}

h5 {
    font-size: map.get($font, size-md);
}

h6 {
    font-size: map.get($font, size-base);
}

p,
li,
em,
strong,
blockquote {
    font-size: map.get($font, size-base);
}

small {
    font-size: map.get($font, size-sm);
}

strong {
    font-weight: bold;
}

ol,
ul {
    padding-inline-start: rem(20);
}

.list {
    &--unstyled {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}


/*------------------------------------*\
  # ANCHOR FONT SIZE
\*------------------------------------*/
.fs {
    &-sm {
        font-size: map.get($font, size-sm);
    }
    
    &-base {
        font-size: map.get($font, size-base);
    }
    
    &-md {
        font-size: map.get($font, size-md);
    }
    
    &-lg {
        font-size: map.get($font, size-lg);
    }
    
    &-xl {
        font-size: map.get($font, size-xl);
    }
    
    &-xxl {
        font-size: map.get($font, size-xxl);
    }

    &-xxxl {
        font-size: map.get($font, size-xxxl);
    }
}

/*------------------------------------*\
  # ANCHOR FONT WEIGHT
\*------------------------------------*/
.fw {
    @for $i from 1 through 9 {
        &-#{($i * 100)} {
            font-weight: ($i * 100);
        }
    }
}