<form>
    <div class="row">
    {% for field in fields %}
        <div class="col-12{% for col in field.columns %} col-{{col}}{% endfor %}">
            <div class="form-group">
                {% render '@label', field, true %}
                {% render '@input', field, true %}
            </div>
        </div>
    {% endfor %}
    </div>
</form>