<div class="blind-timer" data-blind-start="07/27/24 1:00 AM" data-blind-length="{{1440 * 30}}">
    <div class="d-flex justify-content-between">
        <div class="d-inline-flex">{% render '@icon', { 'icon': 'crown-circle' }, true %}{{currentBlind}}</div>
        <div class="d-inline-flex">{{incomingBlind}}{% render '@icon', { 'icon': 'crown-circle' }, true %}</div>
    </div>
    {% render '@progress--animated', progress, true %}
    <span class="blind-timer-countdown"></span>
</div>
