<div class="mb-3{% if inline %} row align-items-center{% endif %}">
    {% if inline %}
    <div class="col col-auto">
        {% render '@label', label, true %}
    </div>
    <div class="col">
        {% render '@input', input, true %}
    </div>
    {% else %}
    {% render '@label', label, true %}
    {% render '@input', input, true %}
    {% endif %}
</div>
