<div class="progress" aria-valuenow="{{now}}" aria-valuemin="{{min}}" aria-valuemax="{{max}}">
    <div class="progress-bar{% if modifier %} bg-{{modifier}}{% endif %}{% if striped %} progress-bar-striped{% endif %}{% if animated %} progress-bar-animated{% endif %}" style="width:{{ now / max * 100 }}%;">{% if label %}{{ now / max * 100 }}%{% endif %}</div>
</div>